*,
*::before,
*::after {
    box-sizing: border-box;
    font-size: inherit;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(50, 100, 95);
}

.wrapper {
    min-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator-grid {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr repeat(5, minmax(80px, 1fr));
    grid-gap: 10px;
    padding: 10px;
    background-color: #222;
    color: #fff;
    font-size: 2em;
}

.span-four {
    grid-column: span 4;
}

.span-two {
    grid-column: span 2;
}

.calculator-grid > button {
    cursor: pointer;
}

.display {
    background-color: rgba(17, 13, 13, 0.5);
    margin: 0em 0em;
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.display > .display-previous {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1em;
}

.display > .display-current {
    color: white;
    font-size: 1.2em;
}